<?xml version="1.0" encoding="utf-8"?>
<ArrayOfMenuItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- MenuItem Name="菜单项名称" 
  MenuCode="该菜单项的编码，2位一级；采用编码方式，程序便于处理；每个菜单项编码不可重复；目前可支持3级菜单" 
  ParentMenuCode="父级编码，顶级菜单的父级编码为0"
  IsVisiable="是否在在菜单中可见,Yes-可见，No-不可见,不区分大小写"
  AuthKey="如果是MVC页面，必须是 ‘Controller|Action’格式构成的权限Key；
           如果不是MVC页面，则只需要等于AuthCenter的AuthKey就可以了；
           如果没有配置AuthKey，那么该页面为所有人可访问"   
  LinkUrl="链接的Url地址" 
  Class="该菜单的ICON"-->
	<MenuItem Name="首页" MenuCode="00" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="/" Icon="fa-dashboard" />
  <MenuItem Name="Topic管理" MenuCode="01" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="/Topic/List" Icon="fa-edit" />
  <MenuItem Name="消费者管理" MenuCode="02" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="/ConsumerContainer/Index" Icon="fa-pinterest-p" />
  <MenuItem Name="集群管理" MenuCode="03" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="/Cluster/Index" Icon="fa-share-alt" />
  <MenuItem Name="消息日志" MenuCode="04" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="/Message/Index" Icon="fa-envelope-o" />
  <MenuItem Name="关于我们" MenuCode="05" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="/Home/About" Icon="fa-user" />
</ArrayOfMenuItem>