@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<div class="row">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">HighPerformance MessageCenter概述及开发使用指南</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="min-height:600px;">
            <img src="~/images/structure.png" />
        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer-->
    </div>
</div>
